<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.exrick.xboot.modules.base.dao.mapper.UserMapper">

    <select id="findByDepartmentIdZWZ" resultType="cn.exrick.xboot.modules.base.entity.User">
      SELECT t_user.id,t_user.address,t_user.avatar,t_user.description,t_user.email,t_user.mobile,t_user.nickname,
      t_user.password,t_user.sex,t_user.status,t_user.type,t_user.username,t_user.department_id,t_user.street,
      t_user.pass_strength,t_user.department_title,t_user.birth
      FROM t_user , t_user_department, t_department
      WHERE t_department.id = #{departmentId}
      and t_department.id = t_user_department.department_id
      and t_user.id = t_user_department.user_id
    </select>

    <select id="findByZwz" resultType="cn.exrick.xboot.modules.base.entity.User">
        SELECT * from t_user
        where nickname like #{name}
    </select>

    <select id="findAllByZwz" resultType="cn.exrick.xboot.modules.base.entity.User">
        SELECT * from t_user
    </select>

    <select id="findByNickname" resultType="cn.exrick.xboot.modules.base.entity.User">
        SELECT * from t_user
        where nickname = #{nickname}
    </select>

    <select id="findByZwzHua" resultType="cn.exrick.xboot.modules.base.entity.User">
        select * from t_user where hua = #{id}
    </select>
</mapper>